.ce-element-tooltip {
  display: none;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 0;
  padding: 4px 8px;
  z-index: 9;
  outline: none;
  user-select: none;
  pointer-events: none;
  transform: translate(10px, 10px);
}

.ce-element-tooltip.show {
  display: flex;
}

.ce-element-tooltip span {
  color: #000000;
  font-size: 12px;
}
